html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    link(rel="icon", type="image/x-icon", href="/todo.png")

  body
    div(style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: white; z-index: 999; display: flex; align-items: center; justify-content: center;", id="bg")
      h1.text-center Cham vao man hinh!

    h1.text-center= title

    ul.list-group
      each item in list
        li.list-group-item.text-center
          span.text-danger= item.time
          span.text-primary= item.action

    br
    h2 Ten file:
    div
      each i in total
        div= i


    script(src="/socket.io/socket.io.js")
    script(src="/client.js")
